.cardForm{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 100vw;
    width: 90vw;
    margin: 3rem 0rem 0rem 0rem;
    border: 1px solid #E9ECEF;
    border-radius: 8px;
    height: 20rem;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.20);
}
form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 2rem 0px 0px 0px;
}
label{
    color: #212529;
    font-size: 0.8rem;
    margin-bottom: 10px;
}
input{
    margin-bottom: 20px;
    background-color: #F8F9FA;
    border: none;
    padding: 12px;
    border-radius: 8px;
    color: #868E96;
    font-family: 'Inter', sans-serif;
}
input:focus{
    outline: 1px solid #212529;
}
.spanExemploForm{
    font-size: 12px;
    width: 100vw;
    margin: -14px 0px 25px 3px;
    color: #868E96;
}
.valueType{
    display: flex;
    flex-direction: column;
}
.description{
    width: 100vw;
}

.valuePrice{
    max-width: 30vw;
    width: 20vw;
    margin-right: 3rem;
    border-radius: 0.6rem;
}

.type{
    max-width: 30vw;
    width: 30vw;
    height: 6vh;
    border: none;
    border-radius: 0.6rem;
    background-color: #F8F9FA;
}

option{
    background-color: #E9ECEF;
    color: #868E96;
    border: none;
    height: 30px;
}

.formButton{
    width: 40vw;
    background-color: #FD377E;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 0.6rem;
    height: 2.5rem;
    margin-top: 1rem;
}

@media screen and (min-width: 768px){
    .cardForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 16rem;
        height: 20rem;
        margin: 50px 0px 0px 50px;
        border: 1px solid #E9ECEF;
    }
    .description{
        width: 85%;
    }
    .valuePrice{
        max-width: 20vw;
        width: 7vw;
        margin-right: 2rem;
        border-radius: 8px;
    }
    
    .type{
        max-width: 30vw;
        width: 10vw;
        height: 6vh;
        border: none;
        border-radius: 8px;
        background-color: #F8F9FA;
    }
    label{
        color: #212529;
        font-size: 12px;
        margin: 0px 0px 8px 5px;
    }
    .formButton{
        width: 20vw;
        background-color: #FD377E;
        color: #ffffff;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        height: 40px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1024px){

    .cardForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        margin: 50px 0px 0px 50px;
        border: 1px solid #E9ECEF;
        height: 350px;
    }
    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 300px;
        margin: 50px 0px 0px 0px;
        padding: 0px 20px;
        border-radius: 4px;
    }
    label{
        color: #212529;
        font-size: 12px;
        margin-bottom: 10px;
    }
    input{
        margin-bottom: 20px;
        background-color: #F8F9FA;
        border: none;
        padding: 12px;
        border-radius: 8px;
        color: #868E96;
        font-family: 'Inter', sans-serif;
    }
    .spanExemploForm{
        font-size: 12px;
        width: 100vw;
        margin: -16px 0px 30px 3px;
        color: #868E96;
    }
    .valueType{
        display: flex;
        flex-direction: column;
    }
    .description{
        width: 100vw;
    }
    
    .valuePrice{
        max-width: 30vw;
        width: 7vw;
        margin-right: 60px;
        border-radius: 8px;
    }
    
    .type{
        max-width: 30vw;
        width: 8vw;
        height: 5vh;
        border: none;
        border-radius: 8px;
        background-color: #F8F9FA;
    }
    
    option{
        background-color: #E9ECEF;
        color: #868E96;
        border: none;
        height: 30px;
    }
    
    .description-label{
        margin-right: 240px;
    }
    .formButton{
        width: 20vw;
        background-color: #FD377E;
        color: #ffffff;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        height: 40px;
        margin-top: 10px;
    }
    .formButton:hover{
        background-color: #E34981;
        cursor: pointer;
    }
}


    