.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FA;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
    max-width: 100vw;
}

h1{
    color: #FD377E;
    padding-left: 2rem;
    font-size: 1.5rem;
}

.Kenzie{
    color: #212529;
}

.headerButton {
    width: 4rem;
    height: 2rem;
    margin: 0rem 1.5rem 0rem 0.2rem;
    background-color: #E9ECEF;
    color: #868E96;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 768px){
    .Header{
        max-width: 100vw;
        width: 100vw;
    }
    .headerButton{
        margin-right: 4rem;
    }
}

@media screen and (min-width: 1024px){
    .Header{
        padding: 0px 150px 0px 100px;
        max-width: 90vw;
        height: 80px;
    }
    
    .headerButton {
        width: 5rem;
        height: 2.5rem;
        margin-right: 5rem;
    }
    
    .headerButton:hover{
        background-color: #868E96;
        color: #E9ECEF;
        cursor: pointer;
    }
}