.App-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnFiltros{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.resumoFinanceiro{
  width: 100vw;
  color: #212529;
  font-size: 18px;
  text-align: center;
}
.btnTodos{
  margin: 0rem 1rem 0rem 1rem;
  width: 20vw;
  height: 2rem;
  background-color: #FD377E;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 12px;
}
.grayButton{
  margin-right: 1rem;
  width: 25vw;
  height: 2rem;
  background-color: #E9ECEF;
  color: #868E96;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 12px;
}

@media screen and (min-width: 768px){
  .App-body{
    flex-direction: row;
  }
  .formBox{
    flex-direction: row;
    align-items: flex-start;
    max-width: 45vw;
  }
  .btnFiltros{
    max-width: 40vw;
  }
  .cardsVitrine{
    width: 60vw;
    align-items: center;
    margin-left: 2rem;
  }
  .resumoFinanceiro{
    font-size: 14px;
  }
  .btnTodos{
    margin-right: 1rem;
    width: 8vw;
    height: 2rem;
  }
  .grayButton{
    margin-right: 1rem;
    width: 10vw;
    height: 2rem;
  }
}

@media screen and (min-width: 1024px){

  .App-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } 
  .formBox{
    width: 30vw;
  }

  .btnFiltros{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 60vw;
    max-height: 8rem;
    margin: 3rem 0rem 0rem 0rem;
  }
  
  .resumoFinanceiro{
    width: 10rem;
    text-align: start;
    margin-left: 4rem;
  }
  
  .btnTodos{
    width: 5rem;
    height: 2.2rem;
    margin-right: 1rem;
    font-size: 13px;
  }
  
  .grayButton{
    width: 6rem;
    height: 2.2rem;
    font-size: 13px;
    background-color: #E9ECEF;
    color: #868E96;
    margin-right: 1rem;
  }
  
  .grayButton:hover{
    background-color: #868E96;
    color: #F8F9FA;
  }
  /* .cardsVitrine{
    margin-left: 2rem;
  } */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
